<div
  id="about-frame"
  class="frame box"
  style="transform: translateZ(-0px); display: block"
>
  <section class="container demo" id="about">
    <h1 class="text-center" id="my-name">Hi I'm Ash</h1>
    <h4 class="text-center" id="typedtext"></h4>
  </section>
</div>
