<nav
  class="navbar navbar-expand fixed-top m-0 d-flex"
  id="navigation-bar"
  style="padding: 1%"
>
  <div
    class="container m-0 position-fixed"
    style="width: 100vw; right: 0; top: 10px"
  >
    <a href="/" class="navbar-brand" id="home-btn"></a>
    <div class="navigation-btns-wrapper">
      <div
        id="navigation-btns"
        class="container d-flex"
        style="justify-content: end"
      >
        <button id="go-to-about" class="btn navigation-btn" disabled>
          [about]
        </button>
        <button id="go-to-skills" class="btn navigation-btn">[skills]</button>
        <button id="go-to-projs" class="btn navigation-btn">[projs]</button>
      </div>
    </div>
  </div>
</nav>
