<div
  id="projects-frame"
  class="frame box"
  style="transform: translateZ(-7000px); display: none"
>
  <section class="container demo" id="projects">
    <h3 class="text-center">Projects</h3>
    <ul
      class="all-projects list-group d-flex justify-content-center flex-md-column flex-lg-row"
    >
      <li class="list-group-item project">
        <div class="card" style="width: 18rem">
          <div
            class="card-img-top d-flex justify-content-center align-items-center"
          >
            <img
              src="/imgs/bigboardleague.webp"
              class="bigboardleague-img"
              alt="bigboardleague"
            />
          </div>
          <div
            class="card-body d-flex flex-column justify-content-space-between"
          >
            <div class="container h-100 p-0">
              <h5 class="card-title">Big Board League</h5>
              <p class="card-text">
                A website to host the Big Board League, featuring detailed
                basketball league information, including team rosters, player
                profiles, statistics, schedules, seasons, game results, and
                player achievements.
              </p>
            </div>
            <div class="container code-btns d-flex p-0 h-10">
              <a
                href="https://www.bigboardleague.com/"
                class="btn bigboardleague-link"
                style="margin-right: 5px"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="material-symbols-outlined"> visibility </span>
                <p>demo</p>
              </a>
              <a
                href="https://github.com/HadiNoureddinee/bigboardleague"
                class="btn bigboardleague-link"
                aria-disabled="true"
                tabindex="-1"
                title="Private Repository"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="material-symbols-outlined"> code </span>
                <p>code</p>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item project">
        <div class="card" style="width: 18rem">
          <div
            class="card-img-top d-flex justify-content-center align-items-center"
          >
            <img src="/imgs/cpu.png" class="sim-img" alt="cpu-sim" />
          </div>
          <div
            class="card-body d-flex flex-column justify-content-space-between"
          >
            <div class="container h-100 p-0">
              <h5 class="card-title">Job Processor Simulator</h5>
              <p class="card-text">
                Simulates a computer with multiple processors by using a
                priority queue to determine how many processors should be
                used to process jobs most efficiently
              </p>
            </div>
            <div class="container code-btns d-flex p-0 h-10">
              <a
                href="https://ashra-f.github.io/Job-Processor-Sim/"
                class="btn jobproc-link"
                style="margin-right: 5px"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="material-symbols-outlined"> visibility </span>
                <p>demo</p>
              </a>
              <a
                href="https://github.com/ashra-f/Job-Processor-Sim"
                class="btn jobproc-link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="material-symbols-outlined"> code </span>
                <p>code</p>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item project">
        <div class="card" style="width: 18rem">
          <div
            class="card-img-top d-flex justify-content-center align-items-center"
          >
            <img
              src="/imgs/votingAppLogo.jpeg"
              class="voting-app-img"
              alt="voting app"
            />
          </div>
          <div
            class="card-body d-flex flex-column justify-content-space-between"
          >
            <div class="container h-100 p-0">
              <h5 class="card-title">Mark's Voting App</h5>
              <p class="card-text">
                A website for hosting conference events, where administrators
                can create events and participants can cast votes,
                accommodating up to 1000 voters simultaneously.
              </p>
            </div>
            <div class="container code-btns d-flex p-0 h-10">
              <a
                href="https://voting-app-28f9e.web.app"
                class="btn voting-app-link"
                style="margin-right: 5px"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="material-symbols-outlined"> visibility </span>
                <p>demo</p>
              </a>
              <a
                href="https://github.com/ashra-f/VotingApp"
                class="btn voting-app-link"
                aria-disabled="true"
                tabindex="-1"
                title="Private Repository"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="material-symbols-outlined"> code </span>
                <p>code</p>
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
</div>
