<ul
  id="my-links"
  class="d-flex justify-content-center align-items-center flex-column p-0 position-absolute"
>
  <li class="nav-item">
    <a
      href="https://github.com/ashra-f"
      class="nav-link"
      id="github"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="/imgs/github.png" alt="GitHub" />
    </a>
  </li>
  <li class="nav-item">
    <a
      href="https://www.linkedin.com/in/ashra-f/"
      class="nav-link"
      id="linkedin"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="/imgs/linkedin.png" alt="LinkedIn" />
    </a>
  </li>
  <li class="nav-item">
    <a
      href="mailto:ashrafhammoud2@gmail.com"
      class="nav-link"
      id="gmail"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="/imgs/gmail.png" alt="Gmail" />
    </a>
  </li>
  <li class="nav-item">
    <a
      href="/Redacted_Resume.pdf"
      class="nav-link"
      id="resume"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="/imgs/download.png" alt="resume" />
    </a>
  </li>
</ul>
